@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:800");

:root {
  --main-color: #2b1055;
  --secondary-color: whitesmoke;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  overflow-x: hidden;
}
#content {
  z-index: 10006;
  display: flex;
  justify-content: space-between;
}
.nav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1010;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.7s;
}
.nav a {
  display: block;
  padding: 20px 30px;
  font-size: 25px;
  text-decoration: none;
  color: #ccc;
  list-style: none;
}
.nav a:hover {
  color: #fff;
  transition: 0.4s;
}
.nav .close {
  position: absolute;
  top: 0;
  right: 22px;
  margin-left: 50px;
  font-size: 30px;
}
.slide a {
  color: #fff;
  font-size: 36px;
}
#content {
  padding: 20px;
  transition: margin-left 0.7s;
  overflow: hidden;
  width: 100%;
  left: 3rem;
}
.fas {
  color: white;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 1000;
}

header ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#menu {
  list-style: none;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: #2b1055;
}

#userProfile {
  width: 2.7rem;
  height: 2.7rem;
  background-color: var(--secondary-color);
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  color: var(--secondary-color);
}

#userProfile::after {
  font-weight: 700;
  font-size: 0.8rem;
  content: "Profile";
}
