:root {
  --main-color: #2b1055;
  --secondary-color: whitesmoke;
}

body {
  padding: 0;
  margin: 0;
  color: var(--secondary-color);
}
#main {
  background-color: var(--main-color);
  width: 100%;
  height: 100vh;
  padding: 5rem;
  overflow-y: hidden;
}

.contactform input[type="submit"] {
  width: 100px;
  border: none;
  outline: none;
  height: 40px;
  color: silver;
  font-size: 16px;
  background-color: #36a4c0;
  cursor: pointer;
  border-radius: 20px;
  margin: 12px 0 18px;
}

.contactform input[type="submit"]:hover {
  background-color: #34a534;
  color: silver;
}

.contactform input {
  padding: 3px;
  width: 60%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.contactform {
  border: none;
  width: 350px;
  word-spacing: 150px;
  background: transparent;
  outline: none;
  height: 40px;
  color: silver;
  font-size: 16px;
}
