:root {
  --main-color: #2b1055;
  --secondary-color: whitesmoke;
}

body {
  padding: 0;
  margin: 0;
  color: var(--secondary-color);
}
#main {
  background-color: var(--main-color);
  width: 100%;
  height: 100vh;
  padding: 5rem;
  overflow-y: hidden;
}
.aboutpage {
  height:200px;
  width:400 px;
  position: static;
  top:50%;
  left:50%;
  margin-top:-100px;
  margin-left:-200px;
  font-size: 50px;

}

.email {
  height: 15px;
  width: 400px;
  background-color: silver;

}

.message {
  height: 100px;
  width: 400px;
  background-color: silver;

}

.phone {
  height: 15px;
  width: 400px;
  background-color: silver;

}
