{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}
{% block categorycss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/categories.css' %}">
{% endblock %}
{% block body_block %}
<section id='main'>

    {% if searched %}
    <h1 id="header1">You searched for {{ searched }}</h1>
    <br/>

    <ol>
    {% for category in categories %}
    <li id="sublists2"><a href="{% url 'rango:show_category' category.slug %}"><h2 id="innerlinks">{{ category.name }}</h2></a></li>
    {% endfor %}
    </ol>
    {% else %}
    <h1 id="header1">You forgot to search for a category...</h1>

    {% endif %}

    
    
</section>
{% endblock %}
