{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}
{% block categorycss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/categories.css' %}">
{% endblock %}
{% block body_block %}
<section id='main'>

    {% if searched %}
    <h1>You searched for {{ searched }}</h1>
    <br/>

    <ul>
    {% for category in categories %}
    <li><a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <h1>You forgot to search for a category...</h1>

    {% endif %}

    
    
</section>
{% endblock %}
