{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}
{% block categorycss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/category.css' %}">
{% endblock %}
{% block body_block %}
<section id='main'>
    <div class="sec2" id="sec2">
        <div class="topages"><a href="#top" id="explore-btn">Go back!</a></div>
        <div class="secinside2">
            <h2>Most Viewed categories</h2>
            <ul>
                {% if categories %}
                    {% for c in categories %}
                        {% if c == current_category %}
                        <li><strong><a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a></strong></li>
                        {% else %}
                        <li><a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <li><strong>There are no categories present.</strong></li>
                {% endif %}
                </ul>
        </div>
    </div>
</section>
{% endblock %}
