{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
{% endblock %}
{% block logincss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}
{% block extrascripts %}
<script src="{% static 'scripts/login.js' %}"></script>
{% endblock %}
{% block body_block %}
<div class="loginBox">
    <img class="user" src="{% static 'images/default_face.png' %}">
    <h2>Login to Rango Lib</h2>
    <h2>
        <a href="" class="typewrite" data-period="500" data-type='[ "Learn Python 🐍", "Learn Java 🐱‍💻", "Learn Data Science 🧑‍🔬", "Learn HTML & CSS 🐱‍🚀" ]'>
          <span class="wrap"></span>
        </a>
    </h2>
    <form id="login_form" method="post" action="{% url 'rango:login' %}">
    {% csrf_token %}
    <!-- Username:  -->
    <input type="username" name="username" value="" size="50" required placeholder="Username"/>
    <br />
    <!-- Password:  -->
    <input type="password" name="password" value="" size="50" required placeholder="Password"/>
    <br />
    <input type="submit" name="submit" value="Login">
    <a href="#">Forgot Password?</a>
</form>
</div>
{% endblock %}