{% extends 'rango/base.html' %}
{% load staticfiles %}
{% include "registration/auth_password_change_form.html" %}
{% block title_block %}
    Register
{% endblock %}

{% block user_profilecss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user_profile.css' %}"> 
{% endblock %}

{% block body_block %}
<section id="main">
    <section id="main-content">
        <h1>Your profile, {{ user.username }}</h1>
        
        <div id="user-info-section">
            <div class="img-holder"><img id="userPhoto" src="{{ user.userprofile.picture.url }}" alt=""></div>
            <div id="user-info">
                <div class="info-block">Username: <div id="text-info">{{ user.username }}</div></div>
                <br><br>
                <div class="info-block">Email: <div id="text-info">{{ user.email }}</div></div>
                <br><br>
                <a href="{% url 'auth_password_change' %}" id="change-pass-email" >Change Password</a>
            </div>
        </div>
    </section>
</section>
{% endblock %}